
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: blue;
    background-color: #f9f9f9;
}

header {
    background-color: yellow;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: blueviolet
    text-decoration: none;
}

header nav a:hover {
    color: blue;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: blueviolet;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.featured-jobs {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

.featured-jobs h3 {
    margin-top: 0;
}

.featured-jobs p {
    margin-bottom: 10px;
}

#search {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#search-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #444;
}

#search-results {
    margin-top: 20px;
}

.job-list {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

.job-list h3 {
    margin-top: 0;
}

.job-list p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

footer p {
    margin-bottom: 10px;
}